body {
    background: #0f172a;
    color: white;
    font-family: Arial;
}

.chatbox {
    width: 400px;
    margin: 50px auto;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

#chat {
    height: 300px;
    overflow-y: auto;
    background: #020617;
    padding: 10px;
    margin-bottom: 10px;
}

input {
    width: 75%;
    padding: 8px;
}

button {
    width: 20%;
    padding: 8px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}
